/* Base Calendar Styles */
.calendar {
    display: inline-block;
    border: 1px solid var(--effectiveui-border-default);
    border-radius: 10px;
    overflow: hidden;
    padding: 0.875rem;
    color: var(--effectiveui-text-default);
    background-color: var(--effectiveui-hover-background-default);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Nunito Sans';
  }

  
  /* Dark Theme */
  /* .calendar--color-dark {
    background-color: #1e1e1e; 
    color: #f5f5f5; 
    border: 1px solid #424242;
  }
  
  .calendar--color-dark .calendar_header,.calendar_nav {
    color: #f5f5f5;
  }
  
  .calendar--color-dark .calendar-day-name {
    color: #bdbdbd; 
  }
  
  .calendar--color-dark .calendar_day {
    color: #f5f5f5;
  }
  
  .calendar--color-dark .calendar_day.inactive {
    color: #757575; 
  } */

  .calendar--shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .calendar--no_animation * {
    transition: none !important;
  }

  .calendar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .calendar_month{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .calendar_days,
  .calendar_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
  }
  .calendar_days{
    margin-bottom:6px;
  }
  .calendar-day-name {
    text-align: center;
    font-weight: 500;
    font-size:small;
  }
  
  .calendar_day {
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family:'Courier New', Courier, monospace;
  }
  
  /* Day Effects */
  .calendar_day:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight:bold;
  }
  .calendar_day:hover,.calendar_day_current  {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .selected ,.calendar_day_selected{
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bolder;
  }
  .calendar_day_current {
    font-weight: bolder; 
  }
  
  .calendar_day.inactive {
    opacity: 0.5;
  }
  .calendar_day_hidden {
    color: transparent;
    pointer-events: none; 
  }
  
  /* Navigation Buttons */
  .calendar_nav {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    transition: color 0.3s ease;
  }
  .calendar_nav:hover {
    opacity:0.7;
  }
  

  .calendar_picker {
    display: flex;
    background-color: var(--effectiveui-background-default);
    padding: 0.5rem;
    position: relative;
    border-radius:4px;
    color:var(--effectiveui-text-default);
    justify-content: space-evenly;
    gap: 0.5rem;
    z-index:99
  }
  
  .calendar_picker select,
  .calendar_picker input {
    padding: 5px;
    border: 1px solid var(--effectiveui-border-default);
    border-radius: 4px;
    background-color: inherit;
    color: inherit;
  }
  .calendar_picker input{
    width:60px;
  }
  .calendar_picker select option {
    border:none;
  }
  
  .calendar_picker button {
    background-color: inherit;
    opacity:0.7;
    color: inherit;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .calendar_picker button:hover {
    opacity:1;
  }
  
  
/* COLORS */
.calendar--color-theme{
  background-color: transparent;
  color: color-contrast(var(--effectiveui-border-default) vs var(--effectiveui-black), var(--effectiveui-white)) !important;
}
.calendar--color-primary {
  --effectiveui-text-default: var(--effectiveui-text-primary);
  --effectiveui-background-default: var(--effectiveui-background-primary);
  --effectiveui-border-default: var(--effectiveui-border-primary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-primary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-primary);
}

.calendar--color-secondary {
  --effectiveui-text-default: var(--effectiveui-text-secondary);
  --effectiveui-background-default: var(--effectiveui-background-secondary);
  --effectiveui-border-default: var(--effectiveui-border-secondary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-secondary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-secondary);
}

.calendar--color-success {
  --effectiveui-text-default: var(--effectiveui-text-success);
  --effectiveui-background-default: var(--effectiveui-background-success);
  --effectiveui-border-default: var(--effectiveui-border-success);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-success);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-success);
}

.calendar--color-warning {
  --effectiveui-text-default: var(--effectiveui-text-warning);
  --effectiveui-background-default: var(--effectiveui-background-warning);
  --effectiveui-border-default: var(--effectiveui-border-warning);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-warning);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-warning);
}

.calendar--color-danger {
  --effectiveui-text-default: var(--effectiveui-text-danger);
  --effectiveui-background-default: var(--effectiveui-background-danger);
  --effectiveui-border-default: var(--effectiveui-border-danger);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-danger);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-danger);
}

