.radio-input.radio-row {
    display: flex;
    flex-direction: row;
    gap: 16px; /* Adds spacing between radio buttons in a row */
  }
  
  .radio-input.radio-column {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds spacing between radio buttons in a column */
  }
  
  .radioinput {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    margin: 10px;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: hsla(0, 0%, 100%, 0.15) 0 1px 2px, inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
    background-color: hsl(0deg 0% 63.14% / 20%);
    background-image: -webkit-radial-gradient(
      hsla(200, 100%, 90%, 1) 0%,
      hsla(200, 100%, 70%, 1) 15%,
      hsla(200, 100%, 60%, 0.3) 28%,
      hsla(200, 100%, 30%, 0) 70%
    );
    background-repeat: no-repeat;
    transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
      transform 0.25s cubic-bezier(0.8, 0, 1, 1);
    outline: none;
  }
  
  .radioinput:checked {
    transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1),
      transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  }
  
  .radioinput:active {
    transform: scale(1.5);
    transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1);
  }
  
  .radioinput,
  .radioinput:active {
    background-position: 0 24px;
  }
  
  .radioinput:checked {
    background-position: 0 0;
  }
  
  .radioinput:checked ~ .radioinput,
  .radioinput:checked ~ .radioinput:active {
    background-position: 0 -24px;
  }
 
  .radio-label {
    display: flex;
    align-items: center;
  }
  
  .radio-label-text {
    margin-left: 8px;
    font-size: 16px;
    color:  rgb(148, 157, 163);
  }
  
  input:not([value=""]) {
    padding-inline-end: 0rem !important;
  }


.radioinput:disabled {
    cursor: not-allowed; 
    opacity: 0.5;
    background-color: hsla(0, 0%, 0%, 0.1); 
    box-shadow: none; 
    transition:none;
  }
  
  .radioinput:disabled:checked {
    background-color: hsla(200, 100%, 70%, 0.3); 
  }

  .radioinput:disabled + .radio-label-text {
    color: rgba(115, 130, 140, 0.596); 
  }