.alert {
    padding: 0.725em 1em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 0.9em;
    font-size: 0.875rem;
    position: relative;
    justify-content:space-around;
    font-family: 'Nunito Sans';
    background-color: var(--effectiveui-background-default);
    color: var(--effectiveui-text-default);
    border: 2px solid var(--effectiveui-border-default);
    box-sizing: border-box;
}
.alert-icon {
  font-size: 1.375rem;
  padding: .1em;
}

.alert-close {
  font-size: 1.0rem;
  background: none;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  color: inherit;
  padding: .375em;
}

.alert-close:hover {
  background-color:var(--effectiveui-hover-background-default);
}

/* RADIUS */
.alert--radius-none{
border-radius: 0px;
}
.alert--radius-sm{
  border-radius: 8px;
}
.alert--radius-md{
  border-radius: 12px;
}
.alert--radius-lg{
  border-radius: 16px;
}
.alert--radius-full{
  border-radius: 9999999px;
}

/* VARIANTS */
.alert--variant-solid{
  background-color : var(--effectiveui-text-default) !important;
  border: 2px solid var(--effectiveui-text-default) !important;
  color: color-contrast(var(--effectiveui-border-default) vs var(--effectiveui-black), var(--effectiveui-white)) !important;
}
.alert--variant-flat{
  border: 2px solid var(--effectiveui-background-default) !important;
}
.alert--variant-bordered{
  background-color: transparent !important;
}

/* COLORS */
.alert--color-primary {
  --effectiveui-text-default: var(--effectiveui-text-primary);
  --effectiveui-background-default: var(--effectiveui-background-primary);
  --effectiveui-border-default: var(--effectiveui-border-primary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-primary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-primary);
}

.alert--color-secondary {
  --effectiveui-text-default: var(--effectiveui-text-secondary);
  --effectiveui-background-default: var(--effectiveui-background-secondary);
  --effectiveui-border-default: var(--effectiveui-border-secondary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-secondary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-secondary);
}

.alert--color-success {
  --effectiveui-text-default: var(--effectiveui-text-success);
  --effectiveui-background-default: var(--effectiveui-background-success);
  --effectiveui-border-default: var(--effectiveui-border-success);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-success);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-success);
}

.alert--color-warning {
  --effectiveui-text-default: var(--effectiveui-text-warning);
  --effectiveui-background-default: var(--effectiveui-background-warning);
  --effectiveui-border-default: var(--effectiveui-border-warning);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-warning);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-warning);
}

.alert--color-danger {
  --effectiveui-text-default: var(--effectiveui-text-danger);
  --effectiveui-background-default: var(--effectiveui-background-danger);
  --effectiveui-border-default: var(--effectiveui-border-danger);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-danger);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-danger);
}