/* REMOVE DEFAULT VALUES */
input,
textarea {
  all: unset; 
  display: inline-block; 
}

/* BASE CLASS */

.input-box {
 display: flex;
 font-family: 'Nunito Sans';
 flex-direction: column;
 color: var(--effectiveui-text-default);
 background-color : var(--effectiveui-background-default);
 padding: 0.275rem 1rem;
 min-height: 3rem;
 font-size:0.875rem;
 border: 2px solid var(--effectiveui-border-default);
 border-radius: 12px;
 justify-content: center;
 gap: 0px;
 cursor: text;
 input::placeholder,
  textarea::placeholder{
    color: var(--effectiveui-text-default);
  }
}

.input-box:is(:hover, :active, :focus, :focus-visible, :focus-within){
  border: 2px solid var(--effectiveui-hover-border-default);
  background-color: var(--effectiveui-hover-background-default);
}

/* INSIDE BASE CLASS EXTRA ELEMENTS */
.input-box__password{
  background: transparent;
  border: none;
}

.input-box__required{
  color: red;
}


.input-box__input-wrapper{
  display: flex;
  flex-direction: row;
}

.input-box__label{
  /* color: inherit; */
}

.input-box--full-width {
  width: 100%;
}

.input-box--disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}



/* SIZE*/

.input-box--size-sm {
  font-size:0.875rem;
  padding: 0rem 1rem;
 }

 .input-box--size-md {
  font-size:0.875rem;
  padding: 0.275rem 1rem;
 }

 .input-box--size-lg {
  font-size:1rem;
  padding: 0.45rem 1.2rem;
 }


/* VARIANTS */
.input-box--variant-flat
{
  border: 2px solid var(--effectiveui-background-default);
}
.input-box--variant-flat:is(:hover, :active, :focus, :focus-visible, :focus-within) {
  border: 2px solid var(--effectiveui-hover-background-default) !important;
}

.input-box--variant-faded,
.input-box--variant-faded:is(:hover, :active, :focus, :focus-visible, :focus-within) {

}

.input-box--variant-bordered,
.input-box--variant-bordered:is(:hover, :active, :focus, :focus-visible, :focus-within) {
  background-color: transparent !important;
}

.input-box--variant-underlined,
.input-box--variant-underlined:is(:hover, :active, :focus, :focus-visible, :focus-within) {
  border-radius: 0px !important;
  border-top: 2px solid transparent !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid transparent !important;
  background-color: transparent !important;
}

/* COLORS */
.input-box--color-primary {
  --effectiveui-text-default: var(--effectiveui-text-primary);
  --effectiveui-background-default: var(--effectiveui-background-primary);
  --effectiveui-border-default: var(--effectiveui-border-primary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-primary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-primary);
}

.input-box--color-secondary {
  --effectiveui-text-default: var(--effectiveui-text-secondary);
  --effectiveui-background-default: var(--effectiveui-background-secondary);
  --effectiveui-border-default: var(--effectiveui-border-secondary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-secondary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-secondary);
}

.input-box--color-success {
  --effectiveui-text-default: var(--effectiveui-text-success);
  --effectiveui-background-default: var(--effectiveui-background-success);
  --effectiveui-border-default: var(--effectiveui-border-success);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-success);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-success);
}

.input-box--color-warning {
  --effectiveui-text-default: var(--effectiveui-text-warning);
  --effectiveui-background-default: var(--effectiveui-background-warning);
  --effectiveui-border-default: var(--effectiveui-border-warning);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-warning);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-warning);
}

.input-box--color-danger {
  --effectiveui-text-default: var(--effectiveui-text-danger);
  --effectiveui-background-default: var(--effectiveui-background-danger);
  --effectiveui-border-default: var(--effectiveui-border-danger);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-danger);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-danger);
}




/* RADIUS */
.input-box--radius-none{
  border-radius: 0px;
}

.input-box--radius-sm{
  border-radius: 8px;
}

.input-box--radius-md{
  border-radius: 12px;
}

.input-box--radius-lg{
  border-radius: 16px;
}

.input-box--radius-full{
  border-radius: 9999999px;
}
