.inputotp-container {
  display: flex;
  gap: 0.5rem;
  /* justify-content: center; */
  align-items: center;
  font-family: 'Nunito Sans';
}
  
.inputotp-field {
  width: 2.3rem;
  height: 2.3rem;
  text-align: center;
  border-radius: 12px;
  color: var(--effectiveui-text-default);
  background-color : var(--effectiveui-background-default);
  border: 2px solid var(--effectiveui-border-default);
  font-size: 1.1rem;
  outline: none;
}
.inputotp-field:is(:hover, :active, :focus, :focus-visible, :focus-within) {
  border: 2px solid var(--effectiveui-hover-border-default);
  background-color: var(--effectiveui-hover-background-default);
}
  
input:not([value=""]) {
  padding-inline-end: 0rem !important;
}

.inputotp--disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.inputotp--size-sm {
  width: 2rem;
  height: 2rem;
}
.inputotp--size-md {
  width: 2.3rem;
  height: 2.3rem;
}
.inputotp--size-lg {
  width: 2.5rem;
  height: 2.5rem;
}

/* RADIUS */
.inputotp--radius-none{
  border-radius: 0px;
}

.inputotp--radius-sm{
  border-radius: 8px;
}

.inputotp--radius-md{
  border-radius: 12px;
}

.inputotp--radius-lg{
  border-radius: 16px;
}

.inputotp--radius-full{
  border-radius: 9999999px;
}



.inputotp--variant-flat{
  border: 2px solid var(--effectiveui-background-default) !important;
}
.inputotp--variant-flat:is(:hover, :active, :focus, :focus-visible, :focus-within) {
  border: 2px solid var(--effectiveui-hover-background-default) !important;
}

.inputotp--variant-faded{

}
.inputotp--variant-faded:is(:hover, :active, :focus, :focus-visible, :focus-within) {
background-color : var(--effectiveui-background-default);
}

.inputotp--variant-bordered,
.inputotp--variant-bordered:is(:hover, :active, :focus, :focus-visible, :focus-within) {
  background-color: transparent !important;
}

.inputotp--variant-underlined,
.inputotp--variant-underlined:is(:hover, :active, :focus, :focus-visible, :focus-within) {
  border-radius: 0px !important;
  border-top: 2px solid transparent !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid transparent !important;
  background-color: transparent !important;
}


/* COLORS */
.inputotp--color-primary {
  --effectiveui-text-default: var(--effectiveui-text-primary);
  --effectiveui-background-default: var(--effectiveui-background-primary);
  --effectiveui-border-default: var(--effectiveui-border-primary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-primary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-primary);
}

.inputotp--color-secondary {
  --effectiveui-text-default: var(--effectiveui-text-secondary);
  --effectiveui-background-default: var(--effectiveui-background-secondary);
  --effectiveui-border-default: var(--effectiveui-border-secondary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-secondary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-secondary);
}

.inputotp--color-success {
  --effectiveui-text-default: var(--effectiveui-text-success);
  --effectiveui-background-default: var(--effectiveui-background-success);
  --effectiveui-border-default: var(--effectiveui-border-success);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-success);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-success);
}

.inputotp--color-warning {
  --effectiveui-text-default: var(--effectiveui-text-warning);
  --effectiveui-background-default: var(--effectiveui-background-warning);
  --effectiveui-border-default: var(--effectiveui-border-warning);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-warning);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-warning);
}

.inputotp--color-danger {
  --effectiveui-text-default: var(--effectiveui-text-danger);
  --effectiveui-background-default: var(--effectiveui-background-danger);
  --effectiveui-border-default: var(--effectiveui-border-danger);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-danger);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-danger);
}
