.switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    font-family: 'Nunito Sans';
    color: var(--effectiveui-text-default);
  }
  
  .switch--disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }
  
  .switch_track {
    width: 3rem;
    height: 1.75rem;
    border-radius: 99999px;
    background-color: var(--effectiveui-default-500);
    position: relative;
    transition: background-color 0.3s ease;
    align-items: center;
    display: flex;
    padding: 0.1em 0.3em;
    border: 2px solid var(--effectiveui-default-500);
  }

  .switch_track--variant-flat,
  .switch_track--variant-flat:is(:hover, :active, :focus, :focus-visible, :focus-within) {
    border: 2px solid transparent !important;
  }

  .switch_track--variant-bordered,
  .switch_track--variant-bordered:is(:hover, :active, :focus, :focus-visible, :focus-within) {
    background-color: transparent !important;
    .switch_thumb {
      background-color: var(--effectiveui-foreground);
    }
  }

  .switch--checked .switch_track--variant-bordered,
  .switch--checked .switch_track--variant-bordered:is(:hover, :active, :focus, :focus-visible, :focus-within){
    .switch_thumb {
      background-color: var(--effectiveui-hover-border-default);
    }
  }

  
  .switch_thumb {
    justify-items: center;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: var(--effectiveui-white);
    position: absolute;
    align-content: center;
    transition: all 0.3s ease;
    box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
  }

  .switch_thumb .thumb-icon {
    display: flex;
    font-size: 18px;
    color:var(--effective-ui-black);
  }

  
  .switch--checked .switch_track--variant-bordered{
    border: 2px solid var(--effectiveui-hover-border-default);
  }
  .switch--checked .switch_track {
    background-color: var(--effectiveui-hover-border-default);
    /* border: 2px solid var(--effectiveui-hover-border-default); */
  }

  .switch--checked .switch_track--size-sm .switch_thumb {
    transform: translateX(1.3rem);
  }
  .switch--checked .switch_track--size-md .switch_thumb {
    transform: translateX(1.6rem) ;
  }
  .switch--checked .switch_track--size-lg .switch_thumb {
    transform: translateX(1.9rem) ;
  }

  .switch_track--size-sm {
    width: 2.5rem;
    height: 1.5rem;
  }
  
  .switch_track--size-sm .switch_thumb {
    width: 1.2rem;
    height: 1.2rem;
  }
  
  .switch_track--size-md {
    width: 3rem;
    height: 1.75rem;
  }
  
  .switch_track--size-md .switch_thumb {
    width: 1.4rem;
    height: 1.4rem;
  }
  
  .switch_track--size-lg {
    width: 3.5rem;
    height: 2rem;
  }
  
  .switch_track--size-lg .switch_thumb {
    width: 1.6rem;
    height: 1.6rem;
  }
  
  .switch_label {
    margin-left: 0.75em;
    color: var(--effectiveui-default-500);
  }

  .switch--checked .switch_label{
    color: var(--effectiveui-text-default);
  }

  .switch_label--size-sm {
    font-size : 1rem;
  }

  .switch_label--size-md {
    font-size : 1.25rem;
  }

  .switch_label--size-lg {
    font-size : 1.5rem;
  }




  
  
/* COLORS */
.switch--color-primary {
  --effectiveui-text-default: var(--effectiveui-text-primary);
  --effectiveui-background-default: var(--effectiveui-background-primary);
  --effectiveui-border-default: var(--effectiveui-border-primary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-primary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-primary);
}

.switch--color-secondary {
  --effectiveui-text-default: var(--effectiveui-text-secondary);
  --effectiveui-background-default: var(--effectiveui-background-secondary);
  --effectiveui-border-default: var(--effectiveui-border-secondary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-secondary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-secondary);
}

.switch--color-success {
  --effectiveui-text-default: var(--effectiveui-text-success);
  --effectiveui-background-default: var(--effectiveui-background-success);
  --effectiveui-border-default: var(--effectiveui-border-success);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-success);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-success);
}

.switch--color-warning {
  --effectiveui-text-default: var(--effectiveui-text-warning);
  --effectiveui-background-default: var(--effectiveui-background-warning);
  --effectiveui-border-default: var(--effectiveui-border-warning);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-warning);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-warning);
}

.switch--color-danger {
  --effectiveui-text-default: var(--effectiveui-text-danger);
  --effectiveui-background-default: var(--effectiveui-background-danger);
  --effectiveui-border-default: var(--effectiveui-border-danger);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-danger);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-danger);
}

