.switch {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
  }
  
  .switch-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .switch-track {
    width: 55px;
    height: 30px;
    border-radius: 50px;
    background-color: #777a7e;
    position: relative;
    transition: background-color 0.3s ease; 
  }
  
  .switch-track-default {
    background-color: #7e7e7e;
  }
  .switch-track-primary {
    background-color: #007bff;
  }
  
  .switch-track-secondary {
    background-color: #9d62eb; 
  }
  
  .switch-track-success {
    background-color: #28a745;
  }
  
  .switch-track-danger {
    background-color: #dc3545; 
  }
  
  .switch-thumb {
    justify-items: center;
    width: 23px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    align-content: space-evenly;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
  }

  .switch-thumb .thumb-icon {
    display: flex;
    font-size: 18px;
    color: inherit; /* Match the switch color */
  }

  
  .switch-checked .switch-small .switch-thumb {
    transform: translateX(-18px) translateY(-50%);
  }
  .switch-checked .switch-medium .switch-thumb {
    transform: translateX(-20px) translateY(-50%);
  }
  .switch-checked .switch-large .switch-thumb {
    transform: translateX(-24px) translateY(-50%);
  }
  
  .switch-checked .switch-track {
    background-color: #ccc; /* Inherit the color set for the track */
  }
  
  .switch-small .switch-track {
    width: 45px;
    height: 26px;
  }
  
  .switch-small .switch-thumb {
    width: 20px;
    height: 20px;
    right:5%
  }
  
  .switch-medium .switch-track {
    width: 55px;
    height: 30px;
  }
  
  .switch-medium .switch-thumb {
    width: 23px;
    height: 22px;
  }
  
  .switch-large .switch-track {
    width: 59px;
    height: 32px;
  }
  
  .switch-large .switch-thumb {
    width: 25px;
    height: 24px;
    right:8%
  }
  
  .switch-label {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
  }
  