.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    color:#9b9b9b;
  }

  .checkbox input {
    display: none; 
  }

  .checkbox-disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  .checkbox-sm{
    font-size: 0.85rem;
  }

  .checkbox-md{
    font-size: 1rem;
  }

  .checkbox-lg{
    font-size: 1.2rem;
  }


  .checkbox-custom {
    border: 2px solid var(--effectiveui-primary);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;
    background-color: #00000000;
    /* width: 1rem;
    height: 1rem; */
  }
  
  .checkbox-custom-primary {
    border-color: var(--effectiveui-primary);
  }
  
  .checkbox-custom-secondary {
    border-color: #9359f1;
  }
  
  .checkbox-custom-success {
    border-color: #28a745;
  }
  
  .checkbox-custom-warning {
    border-color: #ffc107;
  }
  

  .checkbox-custom-sm{
    width: 0.75rem;
    height: 0.75rem;
  }

  .checkbox-custom-md{
    width: 1rem;
    height: 1rem;
  }

  .checkbox-custom-lg{
    width: 1.25rem;
    height: 1.25rem;
  }


  .checkbox-custom-none {
    border-radius: 0;
  }
 
  .checkbox-custom-sm {
    border-radius: 4px;
  }
 
  .checkbox-custom-md {
    border-radius: 8px;
  }
 
  .checkbox-custom-full {
    border-radius: 50%;
  }

  
  .checkbox-input:checked + .checkbox-custom::after {
    content: '';
    width: 0.33rem;
    height: 0.63rem;
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  
  .checkbox-input:checked + .checkbox-custom-primary {
    background-color: var(--effectiveui-primary);
    border-color: var(--effectiveui-primary);
  }
 
  .checkbox-input:checked + .checkbox-custom-secondary {
    background-color: #9359f1;
    border-color: #9359f1;
  }
 
  .checkbox-input:checked + .checkbox-custom-success {
    background-color: #28a745;
    border-color: #28a745;
  }
 
  .checkbox-input:checked + .checkbox-custom-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  }

