.checkbox {
  display: flex;
  font-family: 'Nunito Sans';
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  color:#9b9b9b;
}

.checkbox--textColor {
  color: var(--effectiveui-text-default) !important;
}

.checkbox input {
  display: none; 
}

.checkbox_custom {
  border: 2px solid var(--effectiveui-border-default);
  border-radius: 4px;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
  background-color: var(--effectiveui-hover-background-default);
  width: 1rem;
  height: 1rem;
}

.checkbox_input:checked + .checkbox_custom::after {
  content: '';
  width: 0.33rem;
  height: 0.63rem;
  border: 2px solid var(--effectiveui-white);
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 1;
  transition: opacity 0.2s ease;
}

.checkbox_input:checked + .checkbox_custom{
  background-color: var(--effectiveui-hover-border-default);
  border-color: var(--effectiveui-hover-border-default);
}

.checkbox_input:checked + .checkbox_custom + .checkbox--lineThrough {
  text-decoration: line-through;
}

.checkbox--disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

/* SIZE*/
.checkbox--size-sm {
  font-size:0.875rem;
 }
 .checkbox--size-md {
  font-size:1rem;
 }
 .checkbox--size-lg {
  font-size:1.125rem;
 }

 .checkbox_custom--size-sm {
  width: 1rem;
  height: 1rem;
 }
 .checkbox_custom--size-md {
  width: 1.15rem;
  height: 1.15rem;
 }
 .checkbox_custom--size-lg {
  width: 1.3rem;
  height: 1.3rem;
 }

 /* RADIUS */
.checkbox_custom--radius-none{
  border-radius: 0px;
}
.checkbox_custom--radius-sm{
  border-radius: 4px;
}
.checkbox_custom--radius-md{
  border-radius: 6px;
}
.checkbox_custom--radius-lg{
  border-radius: 8px;
}
.checkbox_custom--radius-full{
  border-radius: 9999999px;
}

/* COLORS */
.checkbox--color-primary {
  --effectiveui-text-default: var(--effectiveui-text-primary);
  --effectiveui-background-default: var(--effectiveui-background-primary);
  --effectiveui-border-default: var(--effectiveui-border-primary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-primary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-primary);
}

.checkbox--color-secondary {
  --effectiveui-text-default: var(--effectiveui-text-secondary);
  --effectiveui-background-default: var(--effectiveui-background-secondary);
  --effectiveui-border-default: var(--effectiveui-border-secondary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-secondary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-secondary);
}

.checkbox--color-success {
  --effectiveui-text-default: var(--effectiveui-text-success);
  --effectiveui-background-default: var(--effectiveui-background-success);
  --effectiveui-border-default: var(--effectiveui-border-success);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-success);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-success);
}

.checkbox--color-warning {
  --effectiveui-text-default: var(--effectiveui-text-warning);
  --effectiveui-background-default: var(--effectiveui-background-warning);
  --effectiveui-border-default: var(--effectiveui-border-warning);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-warning);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-warning);
}

.checkbox--color-danger {
  --effectiveui-text-default: var(--effectiveui-text-danger);
  --effectiveui-background-default: var(--effectiveui-background-danger);
  --effectiveui-border-default: var(--effectiveui-border-danger);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-danger);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-danger);
}



