.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
  }


  .checkbox-small{
    font-size: 0.85rem;
  }

  .checkbox-medium{
    font-size: 1rem;
  }

  .checkbox-large{
    font-size: 1.2rem;
  }


  .checkbox-input-small{
    width: 0.75rem;
    height: 0.75rem;
    font-size: 0.85rem;
  }

  .checkbox-input-medium{
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
  }

  .checkbox-input-large{
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.2rem;
  }



  .checkbox-disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  

  .checkbox input {
    display: none; /* Hides the actual checkbox */
  }
  .checkbox-input {
    /* width: 1rem;
    height: 1rem; */
    border: 2px solid #007bff;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;
    background-color: #fff;
  }
  
  .checkbox-input::after {
    content: '';
    width: 0.4rem;
    height: 0.7rem;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  /* Color variants */
  .checkbox-input-primary {
    border-color: #007bff;
  }
  
  .checkbox-input-secondary {
    border-color: #9359f1;
  }
  
  .checkbox-input-success {
    border-color: #28a745;
  }
  
  .checkbox-input-warning {
    border-color: #ffc107;
  }
  
  .checkbox-input-none {
    border-radius: 0;
  }
 
  .checkbox-input-sm {
    border-radius: 4px;
  }
 
  .checkbox-input-md {
    border-radius: 8px;
  }
 
  .checkbox-input-full {
    border-radius: 50%;
  }