.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--effectiveui-white);
  overflow: hidden;
  background-color: var(--effectiveui-hover-border-default);
  user-select: none;
  position: relative;
  font-family: 'Nunito Sans';
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.avatar-initials {
  font-size: 1.125rem;
  font-weight: bold;
  /* color: var(--effectiveui-white); */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: inherit; 
}

.avatar-icon {
  font-size: inherit; 
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

}

.avatar--bordered {
  border: 3px solid var(--effectiveui-border-default); 
  box-sizing: border-box;
}

/* RADIUS */
.avatar--radius-none{
  border-radius: 0px;
}
.avatar--radius-sm{
  border-radius: 8px;
}
.avatar--radius-md{
  border-radius: 12px;
}
.avatar--radius-lg{
  border-radius: 16px;
}
.avatar--radius-full{
  border-radius: 9999999px;
}
  
/* SIZE*/
.avatar--size-sm{
  width: 2.375rem;
  height: 2.375rem;
  font-size: 1rem;
}
.avatar--size-md{
  width: 2.813rem;
  height: 2.813rem;
  font-size: 1.25rem;
}
.avatar--size-lg{
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.5rem;
}

/* COLORS */
.avatar--color-primary {
  --effectiveui-text-default: var(--effectiveui-text-primary);
  --effectiveui-background-default: var(--effectiveui-background-primary);
  --effectiveui-border-default: var(--effectiveui-border-primary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-primary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-primary);
}

.avatar--color-secondary {
  --effectiveui-text-default: var(--effectiveui-text-secondary);
  --effectiveui-background-default: var(--effectiveui-background-secondary);
  --effectiveui-border-default: var(--effectiveui-border-secondary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-secondary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-secondary);
}

.avatar--color-success {
  --effectiveui-text-default: var(--effectiveui-text-success);
  --effectiveui-background-default: var(--effectiveui-background-success);
  --effectiveui-border-default: var(--effectiveui-border-success);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-success);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-success);
}

.avatar--color-warning {
  --effectiveui-text-default: var(--effectiveui-text-warning);
  --effectiveui-background-default: var(--effectiveui-background-warning);
  --effectiveui-border-default: var(--effectiveui-border-warning);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-warning);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-warning);
}

.avatar--color-danger {
  --effectiveui-text-default: var(--effectiveui-text-danger);
  --effectiveui-background-default: var(--effectiveui-background-danger);
  --effectiveui-border-default: var(--effectiveui-border-danger);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-danger);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-danger);
}

