.avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #181818;
    overflow: hidden;
    background-color: #9b9b9b;
    cursor: pointer;
    user-select: none;
    position: relative; /* Allows for bordered styles */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .avatar-none{
    border-radius : 0;
  }
  .avatar-sm {
    border-radius : 4px;
  }
  
  .avatar-md {
    border-radius : 8px;
  }
  
  .avatar-lg {
    border-radius : 12px;
  }
  
  .avatar-full {
    border-radius : 50%;
  }
  
  .avatar-small {
    width: 38px;
    height: 38px;
    font-size: 12px;
  }
  
  .avatar-medium {
    width: 48px;
    height: 48px;
    font-size: 14px;
  }
  
  .avatar-large {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }
  
  .avatar-default {
    background-color: #7c7c7c;
  }
  
  .avatar-primary {
    background-color: var(--effectiveui-primary);
  }
  
  .avatar-secondary {
    background-color: var(--effectiveui-secondary);
  }
  
  .avatar-success {
    background-color: var(--effectiveui-success);
  }
  
  .avatar-danger {
    background-color: var(--effectiveui-danger);
  }
  
  .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit; /* Ensures the image respects the shape */
  }
  
  .avatar-initials {
    font-size: 18px;
    font-weight: bold;
    color: #e9e9e9;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: inherit; /* Uses the avatar color */
  }
  
  .avatar-icon {
    font-size: inherit; /* Matches the size of the avatar */
    color: inherit; /* Inherits the avatar's color */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .avatar-placeholder {
    background-color: #e0e0e0;
  }
  
  .avatar-bordered {
    border: 2px solid #d1d5db; /* Default border color */
  }
  
  .avatar-bordered.avatar-primary {
    border-color: #0056b3;
  }
  
  .avatar-bordered.avatar-secondary {
    border-color: #5a6268;
  }
  
  .avatar-bordered.avatar-success {
    border-color: #1e7e34;
  }
  
  .avatar-bordered.avatar-danger {
    border-color: #c82333;
  }
  
  /* Transition effect for hover */
  .avatar:hover {
    opacity: 0.9;
    transform: scale(1.02); /* Slight zoom effect */
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  