.accordion_container{
  display: flex;
  flex-direction: column;
  gap: 0.75em; 
  padding:1em;
  width: 100%;
}

.accordion {
  border-bottom: 2px solid var(--effectiveui-border-default);
  overflow: hidden;
  display:flex;
  flex-direction: column;
  font-family: 'Nunito Sans';
  background-color: transparent;
  color: color-contrast(var(--effectiveui-border-default) vs var(--effectiveui-black), var(--effectiveui-white)) !important;
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  box-sizing: border-box; 
}
.accordion_header:hover{
  text-decoration: underline;
}
.accordion--disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity:0.6
}

.accordion_content {
  opacity:0.75;
  background-color:transparent;
  box-sizing: border-box;
  transition: max-height 0.3s ease;
  overflow: hidden;
  word-wrap: break-word;
}

.accordion_icon {
  font-size: 1.375rem;
  color:var(--effectiveui-hover-border-default);
}

.accordion--open .accordion_content {
}

.accordion_container--compact {
  gap:0.2rem
}

/* SIZE*/
.accordion--size-sm {
  font-size:0.875rem;
  padding: 0.275em 1em;
  gap: 0.3rem;
 }

 .accordion--size-md {
  font-size:0.95rem;
  padding: 0.375em 1em;
  gap: 0.5rem;
 }

 .accordion--size-lg {
  font-size:1.15rem;
  padding: 0.45em 1.2em;
  gap: 1rem;
 }

 /* RADIUS */
.accordion_container--radius-none{
  border-radius: 0px;
}
.accordion_container--radius-sm{
  border-radius: 8px;
}
.accordion_container--radius-md{
  border-radius: 12px;
}
.accordion_container--radius-lg{
  border-radius: 16px;
}
.accordion_container--radius-full{
  border-radius: 9999999px;
}

/* VARIANTS */
.accordion_container--variant-splitted .accordion{
  background-color:var(--effectiveui-background-default) ;
  border-bottom: none;
  padding:0.65em
}
.accordion_container--variant-shadow{
  background-color:var(--effectiveui-background-default) ;
  box-shadow: var(--effectiveui-border-default) 0px 3px 8px;
}
.accordion_container--variant-bordered{
  background-color: transparent !important;
  border: 2px solid var(--effectiveui-border-default) !important;
}


/* COLORS */
.accordion_container--color-primary {
  --effectiveui-text-default: var(--effectiveui-text-primary);
  --effectiveui-background-default: var(--effectiveui-background-primary);
  --effectiveui-border-default: var(--effectiveui-border-primary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-primary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-primary);
}

.accordion_container--color-secondary {
  --effectiveui-text-default: var(--effectiveui-text-secondary);
  --effectiveui-background-default: var(--effectiveui-background-secondary);
  --effectiveui-border-default: var(--effectiveui-border-secondary);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-secondary);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-secondary);
}

.accordion_container--color-success {
  --effectiveui-text-default: var(--effectiveui-text-success);
  --effectiveui-background-default: var(--effectiveui-background-success);
  --effectiveui-border-default: var(--effectiveui-border-success);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-success);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-success);
}

.accordion_container--color-warning {
  --effectiveui-text-default: var(--effectiveui-text-warning);
  --effectiveui-background-default: var(--effectiveui-background-warning);
  --effectiveui-border-default: var(--effectiveui-border-warning);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-warning);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-warning);
}

.accordion_container--color-danger {
  --effectiveui-text-default: var(--effectiveui-text-danger);
  --effectiveui-background-default: var(--effectiveui-background-danger);
  --effectiveui-border-default: var(--effectiveui-border-danger);
  --effectiveui-hover-border-default: var(--effectiveui-hover-border-danger);
  --effectiveui-hover-background-default: var(--effectiveui-hover-background-danger);
}

