.link {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0.8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .link:hover{
    opacity:1;
  }

  .link-disabled {
    pointer-events: none;
    opacity:0.5;
  }
  
  .link-underline-none {
    text-decoration: none;
  }
  
  .link-underline-hover:hover {
    text-decoration: underline;
  }
  
  .link-underline-always {
    text-decoration: underline;
  }
  
  .link-underline-active:active {
    text-decoration: underline;
  }
  
  .link-underline-focus:focus {
    text-decoration: underline;
  }
  
  .link-primary {
    color: #007bff;
  }
  .link-secondary {
    color: #6a2ead;
  }
  .link-success {
    color: #28a745;
  }
  .link-danger {
    color: #dc3545;
  }
  .link-default {
    color:  #777777;
  }

  
.link-sm {
    font-size:1rem;
  }
  .link-md {
    font-size:1.1rem;
  }
  .link-lg {
    font-size:1.3rem;
  }